<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs Form</title>
</head>
<body>
    <h1>Madlibs</h1>
    <form>

        {% for %}
        loop through questions
        adds text input fields
        

        s = Story(["noun", "verb"], "I love to {verb} a good {noun}.")
        ans = {"verb": "eat", "noun": "mango"}

        submits data to /story route and initiates s.generate(ans)
        
        {% endform %}
    </form>
    
</body>
</html>