body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

#movie-title {
    width: 250px;
    height: 26px;
}

#rating {
    height: 26px;
}

table {
    margin: 30px auto;
}

button {
    padding: 6px;
}
button:hover {
    cursor: pointer;
}

#delete-btn {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
}

table {
    border-spacing: 0;
}

thead {
    background-color: rgb(104, 182, 255);
}
th {
    width: 300px;
    color: white;
    padding: 5px;
}

th:hover {
    cursor: pointer;
}
tbody {
    text-align: center;
    background-color: rgb(218, 218, 218);
}

td {
    padding: 12px;
}